<!DOCTYPE html>
<html>
<head>
  <title>PlantGenix</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>🌱 PlantGenix</h1>
  <p>Smart Plant Health Tracker</p>

  <a href="/form">
    <button>Check Plant Health</button>
  </a>
</body>

</html>
